In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [2]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


if __name__ == '__main__':
    create_connection(r"Resources/wine_data.sqlite")

2.6.0

Create tables with schema in wine_dtaa_schema.sql file with DB Browser

In [22]:
# Create connection to wine_data.db
conn = sqlite3.connect("Resources/wine_data.db")

In [24]:
# Apply Binning from 10 scores to 3 groups
df_red = pd.read_csv("Resources/winequality-red.csv", delimiter=";")
# Create Classification version of target variable
df_red['quality'] = [2 if x >= 7 else 1 if x==6 else 0 for x in df_red['quality']]

df_white = pd.read_csv("Resources/winequality-white.csv", delimiter=";")
# Create Classification version of target variable
df_white['quality'] = [2 if x >= 7 else 1 if x==6 else 0 for x in df_white['quality']]

In [25]:
df_red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,1

In [27]:

df_red.to_sql('winequalityRed', conn, if_exists='replace', index=True)

In [26]:

df_white.to_sql('winequalityWhite', conn, if_exists='replace', index=True)

/Users/Serena/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,